<!DOCTYPE html>
<html lang="en">

{% module Template("head.html") %}

<body>


  <div class="header">
 
   	<a href="#" class="nav-brand">Let's Begin</a>

  	<div class="header-nav" id="header-nav-btn">
  		<label for="show-menu" class="show-menu">Menu</label>
		<input type="checkbox" id="show-menu" role="button">

	    <ul id="menu">
	      <li><a href="#home" class="nav-btn">Home</a></li>
	      <li><a href="#news" class="nav-btn">About</a></li>
	      <li><a href="#contact" class="nav-btn">Contact</a></li>
	      <li><a href="/home/log-in.html" class="nav-btn">Login</a></li>

	    </ul>
    </div>
 
  </div>
 
</body>
</html>
