<!DOCTYPE html>
<html lang="en">

{% module Template("head.html") %}

<body>

  <div class="header">
    <div class="user" id="user"></div>
    <a href="/logout" style="float: right;margin-right:15px;">Logout</a>
  </div>

  <div class="rating">
  <p>Log in is successful.</p>
  </div>

   
    
   

   

</body>
<style type="text/css">
.user{
  color: white;
  float: left;
  margin-left: 20px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;

}
.user:hover{
  color: #18BC9C;
}
.rating{
  background: #18bc9c;
  left: 0px; 
  top: 0px;
  width: 100%;
  left: 0px;
  /* right: 0; */
  z-index: 1030;
  padding: 25px 0;
  position: fixed;
  margin-top: 59px;
}
p{
  font-size: 20px;
  margin-left: 20px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
}
</style>

</html>
