<!DOCTYPE html>
<html lang="en">

{% module Template("head.html") %}

<body>

  <div class="header">
    <div class="user">{{ argument['user']}}</div>
    <a href="/logout" style="float: right;margin-right:15px;">Logout</a>
  </div>

  <div 

  <p>Welcome </p>
  <p>Rate the following books</p>

   
    
   

   

</body>
<style type="text/css">
.user{
  color: white;
  float: left;
  margin-left: 20px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;

}
.user:hover{
  color: #18BC9C;
}
</style>
</html>
